body {
    background-color: rgba(0, 0, 0, 0.30);
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-image: url('https://www.curitiba.pr.leg.br/atividade-parlamentar/legislacao/imagens/bandeira-do-brasil.png/image');
    object-fit: contain;
    background-position: 100% 22%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken; 
}
